.job-description .row {
    width: 60%;
    padding-top: 40px;
}

.breadcrumb {
    display: flex;
    gap: 5px;
}

.breadcrumb a {
    font-weight: 700;
}

.breadcrumb .fa {
    font-size: 14px;
}

.section ul,
.section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.section ul li ul,
.section ol li ul {
    padding-left: 30px;
}

.thank-you.section {
    height: 90vh;
}