.job-description .row {
    width: 60%;
}

.breadcrumb {
    display: flex;
    gap: 5px;
}

.breadcrumb .fa {
    font-size: 14px;
}

.section ul,
.section ol {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}